# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Yoda-Work-Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Amin Nakhaie\Documents\Unity Projects\Yoda-Work-Project\.idea\.idea.Yoda-Work-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
