# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.nakhaie-Yoda-Work-Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Amin Nakhaie\Documents\Unity Projects\nakhaie-Yoda-Work-Project\.idea\.idea.nakhaie-Yoda-Work-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
